body{
	font-family: Georgia;
}

#banner {
	color: #333;
	width: 600px;
	margin: 30px;
	height: 170px;
	font-size: 36px;
	position: relative;
	overflow: hidden;
	text-align: center;
	border-radius: 15px;
	background-color: #FFF;
	box-shadow: 0px 5px 20px #BEBEBE;
}
#banner  ul{
	list-style: none;
	width: 10000px;
	margin: 0;padding: 0;
}
#banner  ul li{
	float: left;
	width: 600px;
	line-height: 130px;
	margin: 0;padding: 0;
}

#slider-nav{
	left: 50%;
	bottom: 30px;
	overflow: hidden;
	margin-left: -52px;
	position: absolute;
}
#slider-nav a{
	float: left;
	width: 12px;
	height: 12px;
	display: block;
	margin: 0 7px;
	cursor: pointer;
	background-color: #4d4d4d;
}
#slider-nav a:hover,#slider-nav .act{
	background-color: #ec3e47;
}
